.text{
  text-align: justify;
}
.container{
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  border: 1px solid black;
  padding: 10px;
}
.timestamp{
  align-self: flex-end;
}
.title::after{
  content: ' ';
  display: block;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.title{
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 5px;
  background-color: black;
  color: white;
}
.comments{
  margin: 2rem;
  margin-right: 100%;
}